{
	email kademieugine@gmail.com
	on_demand_tls {
		ask http://backend:8080/api/public/caddy-ask
	}
}

stanfordos.co.ke, www.stanfordos.co.ke {
	handle /api* {
		reverse_proxy backend:8080
	}
	handle {
		root * /srv
		encode gzip
		try_files {path} /index.html
		file_server
	}
}

files.stanfordos.co.ke {
	reverse_proxy minio:9000
}

*.stanfordos.co.ke {
	tls {
		on_demand
	}
	handle /api* {
		reverse_proxy backend:8080
	}
	handle {
		root * /srv
		encode gzip
		try_files {path} /index.html
		file_server
	}
}