{
	email kademieugine@gmail.com
}

stanfordos.co.ke, www.stanfordos.co.ke {
	handle /api* {
		reverse_proxy backend:8080
	}
	handle {
		root * /srv
		encode gzip
		try_files {path} /index.html
		file_server
	}
}

files.stanfordos.co.ke {
	reverse_proxy minio:9000
}
